Dockerfile
.dockerignore
.git
.github
.vercel
.gitignore
.gitattributes
README.md
SECURITY.md
.npmrc
.prettier*
.eslintrc.cjs
.graphqlrc
.editorconfig
.vscode
node_modules
build
package
**/.env*
.node-version
